/* GENERAL STYLES */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
  background: #fff;
}

/* UTILITIES */
/* TIPOGRAPHY */
h1 {
  font-size: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

.small {
  display: block;
  margin:  15px 0;
}

.uppercase {
  text-transform: uppercase;
}

/* CONTAINER SPECIFIC */
.container {
  width: 1350px;
}

.container-small {
  width: 1200px;
  margin-bottom: 9px;
}

.only-desktop {
  display: none;
}

/* HEADER */
header .container-small {
  line-height: 20px;
  text-align: center;
  padding: 20px;
}

header .container-small img {
  vertical-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(.languages) {
  margin-right: 25px;
}

nav ul li.languages:not(:last-child) a{
  line-height: 15px;
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
}

nav ul li a{
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

/* JUMBOTRON */

.jumbotron {
  position: relative;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;
}

.jumbotron-text {
  color: #fff;
  font-size:10px;
  line-height: 40px;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron h1 {
  font-weight: 600;
}

.jumbotron img {
  height: 35px;
}

/* PRODUCTS */
.section-products {
  margin: 30px 0;
  text-align: center;
}

.products-box {
  background:#fafafa;
  padding-top: 35px;
  padding-bottom: 30px;
}

.products-box h3 {
  font-weight: 400;
  font-size: 30px;
}

.products-box small {
  line-height: 50px;
  font-weight: 400;
  font-size: 20px;
}

.products-box a {
  font-size: 13px;
  display: block;
  color: #0007ff;
}

.products-box img {
  width: 50%;
  padding-top: 10px;
}

/* HOW-WORKS */
.how-works {
  height: 400px;
  margin-bottom: 200px;
  background-image: url('../img/helbiz-banner.jpg');
  background-size: cover;
  background-position: left center;
}

.how-works .col-left,
.how-works .col-right {
  margin-top: 450px;
}

.how-works .col-left {
  text-align: right;
}

.how-works .col-left .text {
  display: inline-block;
  text-align: left;
}

.how-works .col-left h3 {
  font-size: 30px;
}

.how-works h3,
.how-works h4 {
  font-weight: 600;
}

.how-works .col-right .text {
  padding-top: 10px;
}

/* SMART */
.smart-mobility {
  height: 500px;
  background-image: url('../img/scooter-bg.jpg');
  background-size: cover;
  background-position: left;
  text-align: center;
}

.smart-mobility .smart-box {
  color:#fff;
  margin-top: 150px;
}

.smart-mobility h3 {
  font-size: 200%;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 20px;
}

.smart-mobility p {
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
  padding: 0 50px;
  margin-bottom: 20px;
}

.smart-mobility a {
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
}




/* MEDIA QUERY TABLET */
@media screen and (min-width: 768px) {
  /* PRODUCTS */
  .section-products .col-md-6 {
    padding: 0 20px;
  }

  .how-works {
    margin-bottom: 310px;
  }

  .how-works .col-left,
  .how-works .col-right {
    margin-top: 500px;
  }

  /* SMART */
  .smart-mobility p {
    padding: 0 30px;
  }
}

/* MEDIA QUERY PC */

@media screen and (min-width: 992px) {
  .only-desktop {
    display: block;
  }

  .how-works {
    background-position: center;
  }

  .how-works .phone {
    margin-top: 100px;
    text-align: center;
  }

  .how-works .phone img {
    max-height: 600px;
    max-width: 100%;
  }

  .smart-mobility p {
    padding: 0 90px;
  }
}
